.THIS {
}

.THIS .likebutton{
   
    background-size: 100%;
    width:40px; 
  height:40px; 
}

.THIS .lovebutton{
   
    background-size: 100%;
    width:40px; 
  height:40px; 
}

.THIS .sadbutton{
  
    background-size: 100%;
    width:40px; 
  height:40px; 
}

.THIS .angrybutton{
   
    background-size: 100%;
    width:40px; 
  height:40px; 
}